html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

pre {
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
}

#app {
    height: 100vh;
}

.wrapper {
    min-width: 320px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
}

.header {
    background-color: #007AF5;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header h1 {
    font-size: 60px;
}

.header h2 {
    font-size: 24px;
    font-weight: lighter;
}

.header .search {
    min-width: 320px;
    max-width: 400px;
    margin: 50px;
}

.body {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.center {
    text-align: center;
}

.block {
    flex-grow: 1;
    max-width: 320px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: flex-start;
}

.block.full {
    max-width: none;
    width: 100%;
}

.block-img {
    max-width: 100px;
    max-height: 100px;
}

.tab-nav button {
    background-color: #fff;
    border-color: #eee;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    padding: 15px;
    outline: 0px;
    position: relative;
    top: 1px;
}

.tab-nav button:last-child {
    border-right-width: 1px;
}

.tab-nav button.active {
    font-weight: 700;
    font-style: italic;
    background-color: #f8f8f8;
    border-bottom-color: #f8f8f8;
}

.editor {
    border: 1px solid #eee;
}

.get-started {
    position: relative;
    line-height: 30px;
    font-size: 24px;
    font-weight: 300;
    background-color: #007AF5;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-bottom: 5px solid rgb(0, 102, 225);
}

.get-started:hover {
    top: 2px;
    border-bottom-width: 3px;
}

.get-started:active {
    top: 5px;
    border-bottom-width: 0px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #eee;
    text-align: center;
    background-color: #f8f8f8;
}

.footer a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .body {
        margin-left: 30px;
        margin-right: 30px;
    }
    .block {
        max-width: none;
    }
    .tab-nav button {
        max-width: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tab-nav button.active {
        max-width: none;
    }
}
