html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

pre {
    font-size: 14px;
    margin: 0px;
}

#app {
    height: 100vh;
}

.wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
}

.header {
    background-color: #007AF5;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.header h1 {
    font-size: 60px;
}

.header h2 {
    font-size: 24px;
    font-weight: lighter;
}

.header .search {
    margin-top: 60px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
